<template>
  <div class="page">
    <b-row>
      <b-col md="9">
        <newpost></newpost>
        <div class="text-center mb-3 d-flex justify-content-center" v-if="loading">
          <b-spinner
            variant="primary"
            style="width: 4rem; height: 4rem;"
            label="Large Spinner"
            type="grow"
          ></b-spinner>
        </div>
        <post
          v-for="post in posts"
          :key="post.id"
          :text="post.text"
          :userpost="post.user.first_name + ' ' + post.user.last_name"
          :commentCount="post.comments.length"
          :reactionCount="post.reactions.length"
          :comments="post.comments"
          :propicPost="post.user.profile"
          :post_id="post.id"
        ></post>
      </b-col>
      <b-col md="3">
        <notifications></notifications>
        <sidechat></sidechat>
      </b-col>
    </b-row>
  </div>
</template>

<script>
import NewPost from "../components/NewPost";
import Post from "../components/Post";
import SideChat from "../components/SideChat";
import Notifications from "../components/Notifications";

export default {
  data() {
    return {
      posts: [],
      loading: true
    };
  },
  components: {
    newpost: NewPost,
    post: Post,
    sidechat: SideChat,
    notifications: Notifications
  },
  mounted() {
    this.fetchPost();
  },
  methods: {
    fetchPost() {
      this.$axios
        .get("post")
        .then(res => {
          this.posts = res.data;
          this.loading = false;
        })
        .catch(error => {
          console.log(error.response.data);
        });
    }
  }
};
</script>