<template>
  <div class="row">
    <!-- LeftSide -->
    <div class="leftside bg-primary col-md-6">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <img
            src="/logo.png"
            style="display:block; height:100px; width:auto; margin:auto; margin-bottom:2em; margin-top:-6em; background:#016ee2; padding:10px; border-radius:20px;"
          />
          <div class="card login text-white">
            <div class="card-body">
              <h3 class="text-center text-white">Hi, Welcome to Socialio</h3>
              <span class="d-block text-center pb-2 mb-4">We will never sell your data!</span>

              <form autocomplete="off" @submit.prevent="login" method="post">
                <div class="row">
                  <div class="col-md-5">
                    <div class="form-group">
                      <input
                        type="email"
                        id="email"
                        class="form-control text-white"
                        placeholder="your@email.com"
                        :class="validEmail ? 'input-error' : ''"
                        v-model="email"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-4">
                    <div class="form-group">
                      <input
                        type="password"
                        id="password"
                        class="form-control text-white"
                        placeholder="password"
                        :class="validPass ? 'input-error' : ''"
                        v-model="password"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-3">
                    <button
                      type="submit"
                      class="btn btn-block btn-primary"
                      :disabled="loadingl == true"
                    >{{loadingl ? "Loading..." : "Login" }}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
          <div class="col-md-12 text-center mt-2">
            <a class="text-white" href="#">Forgot your password?</a>
          </div>
        </div>
      </div>
    </div>
    <!-- RightSide -->
    <div class="rightside bg-light col-md-6">
      <div class="row justify-content-center">
        <div class="col-md-9">
          <div class="card register">
            <div class="card-body">
              <h4 class="text-center text-secondary mb-4">New here? Register and join our community.</h4>

              <form autocomplete="off" @submit.prevent="register" method="post">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        id="fname"
                        class="form-control"
                        placeholder="First Name"
                        v-model="fname"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        id="lname"
                        class="form-control"
                        placeholder="Last Name"
                        v-model="lname"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="email"
                        id="emailreg"
                        class="form-control"
                        placeholder="your@email.com"
                        v-model="emailreg"
                        @change="checkmail()"
                        :class="existMail ? 'input-error' : ''"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="text"
                        id="birthday"
                        class="form-control"
                        placeholder="01/01/1991"
                        v-model="birthday"
                        required
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="password"
                        id="passwordreg"
                        class="form-control"
                        placeholder="password"
                        v-model="passwordreg"
                        @change="passCheck()"
                        :class="passMatch ? 'input-error' : ''"
                        required
                        minlength="6"
                      />
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group">
                      <input
                        type="password"
                        id="passwordreg2"
                        class="form-control"
                        placeholder="password confirmation"
                        v-model="passwordreg2"
                        @change="passCheck()"
                        :class="passMatch ? 'input-error' : ''"
                        required
                        minlength="6"
                      />
                    </div>
                  </div>
                  <div class="col-md-12">
                    <button
                      type="submit"
                      class="btn btn-block btn-primary"
                      :disabled="loadingr == true"
                    >{{loadingr ? "Loading..." : "Register" }}</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<style scoped>
.leftside {
  min-height: 100vh;
  display: flex;
}
.input-error {
  border-bottom: 1px solid red !important;
}
.login {
  background: #016ee2;
  border: none !important;
}
.login input {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #ffffff57;
  border-radius: unset;
}
.login input::placeholder {
  color: #ffffff57;
}
.register input {
  background-color: transparent !important;
  border: none;
  border-bottom: 1px solid #e0e0e0;
  border-radius: unset;
}
.register input::placeholder {
  color: #bebebe;
}
.register {
  border: none !important;
}
.rightside {
  min-height: 100vh;
  display: flex;
}
.row {
  width: 100%;
  margin: auto;
}
</style>
<script>
export default {
  name: "Welcome",
  data() {
    return {
      email: "",
      password: "",
      emailreg: "",
      birthday: "",
      fname: "",
      lname: "",
      passwordreg: "",
      passwordreg2: "",
      loadingl: false,
      loadingr: false,
      validPass: false,
      validEmail: false,
      existMail: false,
      passMatch: false
    };
  },
  methods: {
    login() {
      this.loadingl = true;
      console.log(this.$axios);
      this.$axios
        .post("login", {
          email: this.email,
          password: this.password
        })
        .then(res => {
          console.log(res);
          // Save token in local storage
          const token = res.data.success.token;
          localStorage.setItem("ACCESS_TOKEN", token);
          this.$router.push("/about");
          this.loadingl = false;
          this.validEmail = false;
          this.validPass = false;
        })
        .catch(error => {
          console.log(error.response.data.error);
          if (error.response.data.error == "email") {
            this.validEmail = true;
            this.validPass = false;
          } else {
            this.validPass = true;
            this.validEmail = false;
          }
          this.loadingl = false;
        });
    },
    checkmail() {
      this.$axios
        .post("checkmail", {
          email: this.emailreg
        })
        .then(res => {
          console.log(res);
          console.log(res.data.email);
          this.existMail = res.data.email;
        })
        .catch(error => {
          console.log(error.response.data.email);
          this.existMail = error.response.data.email;
        });
    },
    passCheck() {
      if (this.passwordreg2 == this.passwordreg || this.passwordreg2 == "") {
        this.passMatch = false;
      } else {
        this.passMatch = true;
      }
    },
    register() {
      this.loadingr = true;
      this.$axios
        .post("register", {
          email: this.emailreg,
          username: this.fname,
          password: this.passwordreg,
          c_password: this.passwordreg2,
          first_name: this.fname,
          last_name: this.lname,
          date_of_birth: this.birthday
        })
        .then(res => {
          // to ti je response od servera ili ti backenda

          console.log(res);
          // Save token in local storage
          const token = res.data.success.token;
          localStorage.setItem("ACCESS_TOKEN", token);
          this.$router.push("/", () => {});
          if (res.status == 401) {
            console.log(res.error);
          }
          this.loadingr = false;
        })
        .catch(error => {
          console.log(error.response);
          this.loadingr = false;
        });
    }
  }
};
</script>