<template>
  <router-view />
</template>

<style>
.navbar-brand {
  font-size: 1.5em !important;
  font-weight: 200;
}
.page {
  background: white;
  padding: 15px;
}
.footer-page {
  padding: 15px;
}
.dropdown-value a {
  color: #6c757d !important;
}
.user-post .card-body {
  padding: 0.6rem;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.post-top {
  padding: 0.5em;
  color: white;
}
.comment {
  background: white;
  padding: 0.7em;
  width: fit-content !important;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}
.no-border {
  border: 0 !important;
  box-shadow: none;
}
</style>


