<template>
  <b-container>
    <mytopbar></mytopbar>
    <router-view />
    <myfooter></myfooter>
  </b-container>
</template>
<script>
import Topbar from "../components/Topbar";
import Footer from "../components/Footer";

export default {
  components: {
    mytopbar: Topbar,
    myfooter: Footer
  }
};
</script>