<template>
  <b-row class="p-2" style="align-items: center;">
    <b-col md="auto">
      <b-img rounded="circle" blank-color="#ccc" :src="getImageUrl()" width="35" alt="placeholder"></b-img>
      <span class="p-2 small">{{ userCom }}</span>
    </b-col>
    <b-col md>
      <b-col class="comment">
        <span>{{ textCom}}</span>
      </b-col>
    </b-col>
  </b-row>
</template>
<script>
export default {
  props: ["userCom", "textCom", "propicComment"],
  methods: {
    getImageUrl() {
      return "/profileimg/" + this.$props.propicComment;
    }
  }
};
</script>