<template>
  <b-card
    bg-variant="light"
    title="Hi, Write new post here"
    align="center"
    text-variant="secondary"
    border-variant="light"
    class="mb-4"
  >
    <form autocomplete="off" @submit.prevent="sendpost" method="post">
      <b-input-group class="pb-1">
        <template v-slot:prepend>
          <b-form-select
            v-model="selected"
            :options="options"
            class="bg-secondary text-white"
            value-field="item"
            text-field="name"
            disabled-field="notEnabled"
          ></b-form-select>
        </template>
        <b-form-input
          class="no-border"
          placeholder="Write something..."
          type="text"
          v-model="text"
          id="text"
          :class="validText ? 'input-error' : ''"
          required
        ></b-form-input>
        <b-input-group-append>
          <b-button variant="primary" type="submit">
            <i class="far fa-paper-plane"></i>
          </b-button>
        </b-input-group-append>
      </b-input-group>
    </form>
  </b-card>
</template>
<style scoped>
.custom-select {
  border-radius: 0.25em 0 0 0.25em;
  border: none;
}
</style>
<script>
export default {
  name: "Welcome",
  data() {
    return {
      text: "",
      selected: "0",
      options: [
        { item: "0", name: "Friends" },
        { item: "1", name: "Public" }
      ],
      validText: false
    };
  },
  methods: {
    sendpost() {
      this.$axios
        .post("post", {
          text: this.text,
          user_id: 22,
          visibility: this.selected
        })
        .then(res => {
          console.log(res);
          this.text = "";
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>