 <template>
  <b-card no-body class="mb-2" header="Notifications" text-variant="secondary">
    <b-list-group flush>
      <b-list-group-item>
        <span class="small">Aleksandra Stevic likes your post.</span>
      </b-list-group-item>
      <b-list-group-item>
        <span class="small">Goran Markovic likes your picture.</span>
      </b-list-group-item>
      <b-list-group-item>
        <span class="small">Nenad Radulovic likes your profile picture.</span>
      </b-list-group-item>
    </b-list-group>
  </b-card>
</template>