<template>
  <form autocomplete="off" @submit.prevent="postcomment" method="post">
    <b-input-group class="pb-3">
      <b-form-input v-model="text" class="no-border" placeholder="Leave comment..."></b-form-input>
      <b-input-group-append>
        <b-button variant="primary" type="submit">
          <i class="far fa-paper-plane"></i>
        </b-button>
      </b-input-group-append>
    </b-input-group>
  </form>
</template>

<script>
export default {
  data() {
    return {
      text: ""
    };
  },

  props: ["post_id"],
  methods: {
    postcomment() {
      this.$axios
        .post("comment", {
          text: this.text,
          post_id: this.$props.post_id
        })
        .then(res => {
          console.log(res);
          console.log(this.$props.post_id);

          this.text = "";
        })
        .catch(error => {
          console.log(this.$props.post_id);

          console.log(error.response);
        });
    }
  }
};
</script>