<template>
  <div style="text-align: center;">
    <div style="display:inline-block; width:51px;">
      <b-img
        v-on:click="postReaction(myReaction = 1)"
        v-bind="happy"
        rounded="circle"
        alt="Circle image"
        :class="this.reactedHappy ? 'reacted' : ''"
      ></b-img>
    </div>

    <div style="display:inline-block; width:51px;">
      <b-img
        v-on:click="postReaction(myReaction = 2)"
        v-bind="laughing"
        rounded="circle"
        alt="Circle image"
        :class="this.reactedLaughing ? 'reacted' : ''"
      ></b-img>
    </div>

    <div style="display:inline-block; width:51px;">
      <b-img
        v-on:click="postReaction(myReaction = 3)"
        v-bind="crying"
        rounded="circle"
        alt="Circle image"
        :class="this.reactedCrying ? 'reacted' : ''"
      ></b-img>
    </div>

    <div style="display:inline-block; width:51px;">
      <b-img
        v-on:click="postReaction(myReaction = 4)"
        v-bind="angry"
        rounded="circle"
        alt="Circle image"
        :class="this.reactedAngry ? 'reacted' : ''"
      ></b-img>
    </div>

    <div style="display:inline-block; width:51px;">
      <b-img
        v-on:click="postReaction(myReaction = 5)"
        v-bind="love"
        rounded="circle"
        alt="Circle image"
        :class="this.reactedLove ? 'reacted' : ''"
      ></b-img>
    </div>
  </div>
</template>
<style scoped>
.reacted {
  border: 1px solid #007bff;
}
img:hover {
  width: 50px;
  height: 50px;
}
</style>
<script>
export default {
  data() {
    return {
      myReaction: 0,
      myToggle: false,
      reactedHappy: false,
      reactedLaughing: false,
      reactedCrying: false,
      reactedAngry: false,
      reactedLove: false,
      happy: {
        src: "/reactions/01happy.svg",
        width: 35,
        height: 35,
        style: "padding:0.2em; background:white; margin:0.2em;",
        class: this.reactedHappy ? "reacted" : ""
      },
      laughing: {
        src: "/reactions/02laughing.svg",
        width: 35,
        height: 35,
        style: "padding:0.2em; background:white; margin:0.2em;",
        class: this.reactedLaughing ? "reacted" : ""
      },
      crying: {
        src: "/reactions/03crying.svg",
        width: 35,
        height: 35,
        style: "padding:0.2em; background:white; margin:0.2em;",
        class: this.reactedCrying ? "reacted" : ""
      },
      angry: {
        src: "/reactions/04angry.svg",
        width: 35,
        height: 35,
        style: "padding:0.2em; background:white; margin:0.2em;",
        class: this.reactedAngry ? "reacted" : ""
      },
      love: {
        src: "/reactions/06love.svg",
        width: 35,
        height: 35,
        style: "padding:0.2em; background:white; margin:0.2em;",
        class: this.reactedLove ? "reacted" : ""
      }
    };
  },
  props: ["post_id"],
  mounted() {
    this.fetchMyReactions();
  },
  methods: {
    postReaction() {
      this.$axios
        .post("reaction", {
          reaction_id: this.myReaction,
          post_id: this.$props.post_id
        })
        .then(res => {
          console.log(res);
          console.log(this.$props.post_id);
        })
        .catch(error => {
          console.log(this.$props.post_id);

          console.log(error.response);
        });
    },
    fetchMyReactions() {
      this.$axios
        .post("myreaction", {
          post_id: this.$props.post_id
        })
        .then(res => {
          console.log(res);
          var whatReact = res.data[0];
          if (whatReact.reaction_id == 1) {
            this.reactedHappy = true;
          }
          if (whatReact.reaction_id == 2) {
            this.reactedLaughing = true;
          }
          if (whatReact.reaction_id == 3) {
            this.reactedCrying = true;
          }
          if (whatReact.reaction_id == 4) {
            this.reactedAngry = true;
          }
          if (whatReact.reaction_id == 5) {
            this.reactedLove = true;
          }
        })
        .catch(error => {
          console.log(error.response);
        });
    }
  }
};
</script>