<template>
  <b-card bg-variant="light" text-variant="secondary" border-variant="light" class="mb-2 user-post">
    <!-- Top of post (Posted by, like & comment) -->
    <b-row class="post-top bg-primary">
      <b-col md="6">
        <b-img
          rounded="circle"
          blank-color="#ccc"
          :src="getImageUrl()"
          width="35"
          alt="placeholder"
        ></b-img>
        <span class="p-2">{{ userpost }}</span>
      </b-col>
      <b-col md="6">
        <b-button class="float-right" size="sm ml-2" variant="light" v-if="commentCount > 0">
          <i class="far fa-comment mr-1 text-dark"></i>
          <b-badge variant="primary">{{ commentCount }}</b-badge>
        </b-button>
        <b-button class="float-right" size="sm" variant="light" v-if="reactionCount > 0">
          <i class="far fa-smile mr-1 text-dark"></i>
          <b-badge variant="primary">{{ reactionCount }}</b-badge>
        </b-button>
      </b-col>
    </b-row>
    <!-- Body of post (text or image) -->
    <b-col md="12" class="p-3 border-bottom">
      <span style="font-size: 1.2em; font-family: auto;">{{ text }}</span>
    </b-col>
    <!-- Comments list (max 5 and see more) -->
    <comment
      v-for="comment in comments"
      :key="comment.id"
      :textCom="comment.text"
      :userCom="comment.user.first_name + ' ' + comment.user.last_name"
      :propicComment="comment.user.profile"
    ></comment>
    <!-- Comment input after comments -->
    <b-row>
      <b-col md="6">
        <postcomment :post_id="post_id" style="padding-top:10px;"></postcomment>
      </b-col>
      <b-col md="6">
        <postreaction :post_id="post_id" style="line-height: 55px;"></postreaction>
      </b-col>
    </b-row>
  </b-card>
</template>

<script>
import Comment from "./Comment";
import PostComment from "./PostComment";
import PostReaction from "./PostReaction";

export default {
  props: [
    "text",
    "userpost",
    "post_id",
    "commentCount",
    "reactionCount",
    "comments",
    "propicPost"
  ],
  components: {
    comment: Comment,
    postcomment: PostComment,
    postreaction: PostReaction
  },
  methods: {
    getImageUrl() {
      return "/profileimg/" + this.$props.propicPost;
    }
  }
};
</script>