 <template>
  <b-card no-body header="Online friends" text-variant="secondary">
    <b-list-group flush>
      <b-list-group-item>
        <b-img rounded="circle" blank blank-color="#ccc" width="35" alt="placeholder"></b-img>
        <span class="p-2 small">Aleksandra Stevic</span>
      </b-list-group-item>
      <b-list-group-item>
        <b-img rounded="circle" blank blank-color="#ccc" width="35" alt="placeholder"></b-img>
        <span class="p-2 small">Goran Markovic</span>
      </b-list-group-item>
      <b-list-group-item>
        <b-img rounded="circle" blank blank-color="#ccc" width="35" alt="placeholder"></b-img>
        <span class="p-2 small">Nenad Radulovic</span>
      </b-list-group-item>
    </b-list-group>
  </b-card>
</template>