<template>
  <b-navbar toggleable="lg" type="dark" variant="primary">
    <b-navbar-brand href="#">SOCIALIO</b-navbar-brand>
    <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

    <b-collapse id="nav-collapse" is-nav>
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-navbar-nav>
          <b-nav-item to="/">Home</b-nav-item>
          <b-nav-item to="/public">Public</b-nav-item>
        </b-navbar-nav>
        <b-nav-item-dropdown right>
          <template v-slot:button-content>{{ user }}</template>
          <b-nav-item to="/profile" class="dropdown-value text-primary">Profile</b-nav-item>
          <b-nav-item @click.prevent="logout" class="dropdown-value text-primary">Log out</b-nav-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script>
import { mapState } from "vuex";

export default {
  computed: {
    ...mapState({
      user: state =>
        state.currentUser.first_name + " " + state.currentUser.last_name
    })
  },
  created() {
    this.$store.dispatch("updateUser");
  },

  methods: {
    logout() {
      this.$axios
        .get("logout")
        .then(response => {
          console.log(response);
          localStorage.removeItem("ACCESS_TOKEN");

          // remove any other authenticated user data you put in local storage

          // Assuming that you set this earlier for subsequent Ajax request at some point like so:
          // axios.defaults.headers.common['Authorization'] = 'Bearer ' + auth_token ;
          delete this.$axios.defaults.headers.common["Authorization"];

          // If using 'vue-router' redirect to login page
          this.$router.push("/welcome");
        })
        .catch(error => {
          // If the api request failed then you still might want to remove
          // the same data from localStorage anyways
          // perhaps this code should go in a finally method instead of then and catch
          // methods to avoid duplication.
          console.log(error);
          localStorage.removeItem("auth_token");
          delete this.$axios.defaults.headers.common["Authorization"];
          this.$router.go("/welcome");
        });
    }
  }
};
</script>